@page "/cadastro"
@inject DadosCarteiras  dados

<PageTitle>Cadastrar Carteira</PageTitle>

<h5>Nome:</h5>

<input type="text" @bind=nome/>
<h5>Valor Deposito Inicial:</h5>

<input type="text" @bind=valor/>

<h5>CPF:</h5>

<input type="text" @bind=cpf />

<br><br>
<button class="btn btn-primary" @onclick="CriarConta">
    Criar Conta</button>

    <br><br>
    <h1>@mensagem</h1>


@code {
    private string nome;
    private double valor;
    private string mensagem="";
    private string cpf;

    private void CriarConta()
    {
        Carteira novaConta = new Carteira(valor, nome, cpf);
        dados.ListaDados.Add(novaConta);
        mensagem = $"Carteira Criada com Sucesso ({nome} Saldo:{valor} | Numero da Conta:{novaConta.NumeroConta} | Limite da Conta: {novaConta.LimiteConta})";
        nome = "";
        valor = 0;
        cpf = "";
    }
}
